[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dowhy = "*"
graphviz = "*"
pandas = "*"
scikit-learn = "*"
econml = "*"
pgmpy = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
